@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
